<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#edit-form").on("submit", function (event) {
                  event.preventDefault();
          $.ajax({
            type: "POST",
            url: "/updateinterest",
            data: { current_name: "raymons", interests_name: $("#interests-1-select-value").val() },
            success: function (data) {
               
              console.log("It was successful?");
            },
            failure: function (err) {
              console.log("Error on submit:" + err);
            },
          });
          $.ajax({
                 type: "POST",
                 url: "/spark",
                 data: {},
                 success: function (data) {
                   console.log("Spark is running...");
                 },
           });
        });
      });
    </script>
  </head>
  <body>
    <h1>Temporary User Edit Page</h1>
    <form method="post" action="/updateinterest" id="edit-form">
      <label for="interests-1">Interests 1</label>
      <select class="form-select" name="interests-1" id="interests-1">
        <option value="WEDDINGS" id="interests-1-select-value">WEDDINGS</option>
      </select>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </body>
</html>
